/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.ngb-dp-day.selected {
    background-color: blue !important; /* change the color of the selected date */
    color: black !important; /* change the text color of the selected date */
  }
